@font-face {
    font-family: Pipboy;
    src: url("../monofonto.ttf");
}

body {
    font-family: Pipboy, sans-serif;
    color: #58fb65;
    background: #272b23;
    overflow: hidden;
}

body::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4) 1px, transparent 1px, transparent 2px);
    opacity: 0.3;
    z-index: 1000000;
    pointer-events: none;
}

.navbar {
    border-bottom: 2px solid;
    margin: 0px 10px;
}

.navbar::before, .navbar::after {
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background: #58fb65;
    bottom: -8px;
}

.navbar::before {
    left: 0px;
}

.navbar::after {
    right: 0px;
}

ul > li > a, ul > li.nav-item.active > a.nav-link {
    color: #58fb65 !important;
}

.nav-item.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background: #272b23;
    top: 20px;
    /* left: 5px; */
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    left: 0;
}

.navbar-light .navbar-nav > li.nav-item > .nav-link,
.navbar-light .navbar-nav > li.nav-item.active > .nav-link {
    text-align: center;
    /* width: 50%; */
    margin: auto;
    font-size: 26px;
    line-height: 22px;
    padding-bottom: 0px;
    z-index: 50;
    position: relative;
    background: #272b23;
}

.navbar-nav {
    width: 100%;
}

.navbar-light ul.navbar-nav > li {
    display: block;
    position: relative;
    width: 100%;
}

.center-image {
    position: absolute;
    /* margin: auto;
    width: 100%; */
    margin-left: 95px;
}

.center-image img {
    margin: auto;
    display: block;
    position: relative;
    max-height: 200px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
    margin-top: 35px;
    margin-left: -5px;
}

.pip-footer {
    position: fixed;
    bottom: 2px;
    width: calc(100% - 20px);
    margin: 10px;
    font-size: 18px;
}

.nb-footer {
    border-bottom: 2px solid;
    margin: 0px 10px;
    border: none;
}

.nb-footer .col-3, .nb-footer .col-6 {
    background: rgba(16, 255, 0, 0.15);
    padding: 5px 10px !important;
}

.nb-footer .col-6 {
    margin: 0px 5px;
    flex: 0 0 48%;
}

.nb-footer::before, .nb-footer::after {
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 2000;
    background: #58fb65;
    bottom: -10px;
}

.nb-footer::before {
    left: 0px;
}

.nb-footer::after {
    right: 0px;
}

.nav.nav-tabs {
    margin: 20px;
    border-bottom: none;
}

.nav.nav-tabs > .nav-item > .nav-link:hover {
    border: 1px solid transparent;
}

.nav.nav-tabs > li > a {
    font-size: 22px !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    padding: 5px 10px;
}

.nav.nav-tabs > li:nth-child(2) > a {
    opacity: 0.6;
}

.nav.nav-tabs > li:nth-child(3) > a {
    opacity: 0.2;
}

.navbar.navbar-light .navbar-nav {
    margin: 0 200px;
}

.navbar.navbar-light .navbar-nav > li {
    padding: 0px 20px;
}

.level-progress {
    width: 100%;
    height: 10px;
    border: 2px solid;
    margin-bottom: 3px;
    display: inline-block;
    width: 70%;
}

.level-progress-indicator {
    height: 6px;
    background: #58fb65;
    position: relative;
    width: 70%;
}

.stat-bar {
    width: 60px;
    margin: auto;
}

#status {
    max-width: 400px;
    margin: auto;
}

.stat-bars > .row {
    margin-bottom: 60px;
}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.stat-numbers {
    margin-top: -10px;
}

.stat-numbers .col-1, .stat-numbers .col-2  {
    background: rgba(16, 255, 0, 0.15);
    margin-right: 4px;
}

.stat-numbers .col-1.transparent, .stat-numbers .col-2.transparent {
    background: transparent;
}

.stat-numbers img {
    filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg) saturate(20);
}

.stat-numbers img.sm-img {
    width: 15px;
    margin-left: -5px;
}

.helmet {
    padding-top: 3px;
}

.spacer-number {
    width: 57px;
}

#status.tab-pane.full {
    width: 100%;
    max-width: 100%;
}

.item-list {
    float: left;
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.item-list li a {
    display: block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #58fb65;
    padding-left: 25px;
    text-decoration: none !important;
    margin-bottom: 10px;
}

.item-list li a:hover {
    text-decoration: none;
    background: #58fb65;
    color: #272b23 !important;
}

.item-list li a.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background: #58fb65;
    left: 20px;
    margin-top: 6px;
}

.item-list li a.active:hover::before {
    background: #272b23;
}

.tab-pane.full {
    height: calc(100vh - 180px);
}

.item-stats {
    position: absolute;
    right: 0px;
    bottom: 50px;
    width: 200px;
}

.pull-right {
    right: -60px;
}

.item-stats .row .col-12 {
    background: rgba(16, 255, 0, 0.15);
    margin-bottom: 2px;
}